<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>BPM - הוסף או מחק משתמש</title>
    <link rel="stylesheet" href="css.css">

</head>
<body>
<header>
    <div class="logo-container">
        <div class="heart"></div>
        <div class="logo-text">
            <div class="logo-title">BPM</div>
            <div class="logo-subtitle">Blood Pressure Monitoring</div>
        </div>
    </div>
</header>
<nav>
    <a href="/">סקירת משתמשים</a>
    <a href="/page2">היסטוריית מדידות</a>
    <a href="/page3">הזן מדידות</a>
    <a href="/page4">עדכון משתמשים</a>
</nav>
<div class="container">
    <div class="card">
        <h2>הוסף משתמש חדש</h2>
        <form id="createUserForm">
            <div class="form-group">
                <label for="newUserName">שם משתמש:</label>
                <input type="text" id="newUserName" name="newUserName" placeholder="הכנס שם מלא" required>
            </div>
            <button onclick="createUser()">הוסף משתמש</button>
        </form>
    </div>
    <div class="card">
        <h2>עדכן או מחק משתמש קיים</h2>
        <form id="deleteUserForm">
            <div class="form-group">
                <label>בחר משתמש:</label>
                <select class="user-select" name="id" required>
                </select>
            </div>
            <div class="form-group">
                <label for="newName">שם חדש לעדכון:</label>
                <input type="text" id="newName" name="newName" placeholder="הכנס שם חדש" required>
            </div>
            <button type="submit" id="updateButton" onclick="updateUser()">עדכן משתמש</button>
            <button type="submit" id="deleteButton" onclick="deleteUser()">מחק משתמש</button>

        </form>
    </div>
</div>
<script src="userScript.js" defer></script>
</body>
</html>
