<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BPM - User Update</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
<header>
    <div class="logo-container">
        <div class="heart"></div>
        <div class="logo-text">
            <div class="logo-title">BPM</div>
            <div class="logo-subtitle">Blood Pressure Monitoring</div>
        </div>
    </div>
</header>
<nav>
    <a href="/">User Review</a>
    <a href="/page2">Measurement History</a>
    <a href="/page3">Enter Measurements</a>
    <a href="/page4">User Update</a>
</nav>
<div class="container">
    <div class="card">
        <h2>Add New User</h2>
        <form id="createUserForm">
            <div class="form-group">
                <label for="newUserName">Username:</label>
                <input type="text" id="newUserName" name="newUserName" placeholder="Enter full name" required>
            </div>
            <button type="button" onclick="createUser()">Add User</button>
        </form>
    </div>
    <div class="card">
        <h2>Update or Delete an Existing User</h2>
        <form id="updateUserForm">
            <div class="form-group">
                <div class="user-update-row">
                    <div class="field-pair">
                        <label>Select User:</label>
                        <select class="user-select" name="id" required>
                        </select>
                    </div>

                    <div class="field-pair">
                        <label for="newName">New Name for Update:</label>
                        <input type="text" id="newName" name="newName" placeholder="Enter a new name" required>
                    </div>
                </div>
            </div>
            <div class="action-buttons" id="uniqueStyle">
                <button type="button" id="updateButton" onclick="updateUser()">Update User</button>
                <button type="button" class="deleteButton" onclick="deleteUser()">Delete User</button>
            </div>
        </form>
    </div>
</div>
<script src="userScript.js" defer></script>
</body>
</html>