<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BPM - סקירת משתמשים</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
<header>
    <div class="logo-container">
        <div class="heart"></div>
        <div class="logo-text">
            <div class="logo-title">BPM</div>
            <div class="logo-subtitle">Blood Pressure Monitoring</div>
        </div>
    </div>
</header>
<nav>
    <a href="/">סקירת משתמשים</a>
    <a href="/page2">היסטוריית מדידות</a>
    <a href="/page3">הזן מדידות</a>
    <a href="/page4">עדכון משתמשים</a>
</nav>
<div class="container">
    <h2>סקירת משתמשים - ממוצע מדידות חודשיות</h2>
    <form>
    <div class="filter">
        <label for="yearSelect">בחר שנה:</label>
        <select id="yearSelect">
        </select>
        <label for="monthSelect">בחר חודש:</label>
        <select id="monthSelect">
        </select>
    </div>
    </form>
    <table>
        <thead id="mainHeader"></thead>
        <tbody id="mainTableData"></tbody>
    </table>
</div>
<script src="usersReview.js"></script>
</body>
</html>
